name: Daily Career Reminder

on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch: 

jobs:
  send-mail:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install supabase groq postgrest

      - name: Run Reminder Script
        env:
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          APP_PASSWORD: ${{ secrets.APP_PASSWORD }}
          SUPABASE_URL: ${{ secrets.SUPABASE_DB_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_DB_KEY }}
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        run: python reminder.py